<launch>
    <node
    pkg="turtlesim"
    type="turtlesim_node "
    name="turtlesim "
    respawn="true "
    />
    <node
    pkg="turtlesim"
    type="turtle_teleop_key "
    name="teleop_key"
    required="true"
    launch−prefix="xterm −e"
    />
    <node
    pkg="ros_start1"
    type="subpose"
    name="pose_subscriber"
    output="screen"
    />
</launch>